
<div class="container">
    <div class="row">
       <h2 class="h2">Student mangement System</h2> 
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div *ngFor="let employee of allEmployee" class="card-body">
                <div class="my-2" style="border: 1px ;">Name: {{employee.name}}</div>
                <div class="my-2" style="border: 1px ;">Age: {{employee.active}} </div>
                <div class="my-2" style="border: 1px ;">Date Of Birth: {{employee.dateOfBirth}}</div>
                <footer>
                    <button type="button" class="btn btn-primary" style="border: 1px solid;"
                        (click)="editEmployee(employee.id)">Edit</button>
                </footer>

            </div>
        </div>
    </div>
   
</div>

